@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.cdnfonts.com/css/rubber-duck');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Outfit:wght@100;400;700&family=Patrick+Hand&family=Poppins:wght@500&family=Readex+Pro:wght@200;300;400;500;700&family=Tinos&display=swap');

.rubber-duck-font {
  margin: 0 auto;
  font-family: 'Rubber-Duck', sans-serif;
  font-size: 2.5rem;
}

#root {
  margin: 0 auto;
  font-family: 'Outfit';
}

.btn{
  background: #bfa2ff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
}

.btn:hover {
  background: #9b7edb;
  transform: translateY(-3px);
}

.divider{
  height: 5px;
  width: 3rem;
  background: #9b7edb;
  border-radius: 5px;
  margin: 15px auto;

}

.projects{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}

.project-container {
  border-radius: 0.5rem;
  padding: 1rem;
}

.contact{
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 4rem;
    margin-top: 6rem;
    text-align: right;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

label{
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  text-align: left;
  margin: 20px 0 10px 0;
}

input, textarea{
  color: #333;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}


@media screen and (max-width: 576px){
  .projects{
    grid-template-columns: repeat(1, 1fr);
  }
}


.project-icon:hover {
  transform: translateY(-5px);
}

.project-icon {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.home-btn {
  background: white;
  color: black;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: transform .3s;
}


/* ----- contact ----- */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #eee;
  display: flex;
  box-sizing: border-box;
}

.container {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
}
